name: CMake Build (macOS)

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  macos:
    uses: ./.github/workflows/cmake-multi-platform.yml
    secrets: inherit
    with:
      matrix: |
        [
          {"os":"macos-latest","c_compiler":"clang","cpp_compiler":"clang++","build_type":"Release"}
        ]
